<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>

        <h1 style="text-align: center;">Main Page. Info</h1>

        <h1><a class="button "style="background-color: floralwhite"
               href="/shop/" >To SHOP</a></h1>
        <h2>(all products and editing info of product)</h2>
        <hr>

        <h1><a class="button "style="background-color: floralwhite"
               href="/shop/create/" >Create Product</a>&nbsp;&nbsp;

        <hr>


</body>
</html>